<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>James's deployment status</h1>
    <div class="grid-container">
        <!-- HEADINGS -->
        <div class="grid-header">Deployment</div>
        <div class="grid-header">Tech Stack</div>
        <div class="grid-header">Host</div>
        <div class="grid-header">Status</div>

        <!-- DEPLOYMENT -->
        <div class="grid-item"><a href="https://jamesdiffeycoding.github.io/JS-Banana-and-Ivy-Game/">Banana and Ivy Game</a></div>
        <div class="grid-item">HTML CSS JS</div>
        <div class="grid-item">GH Pages</div>
        <div class="grid-item">?</div>

        <!-- DEPLOYMENT -->
        <div class="grid-item"><a href="https://secure-nextjs-homeless-shelter-database.vercel.app/">Secure Shelter Database</a></div>
        <div class="grid-item">Next JS, React, Supabase, Cypress</div>
        <div class="grid-item">Vercel</div>
        <div class="grid-item">?</div>

        <!-- DEPLOYMENT -->
        <div class="grid-item"><a href="https://jamesdiffeycoding.github.io/Tailwind-Responsive-Grid-Experiments/">Tailwind Responsive Grids</a></div>
        <div class="grid-item">Tailwind, HTML</div>
        <div class="grid-item">GH Pages</div>
        <div class="grid-item">?</div>

        <!-- DEPLOYMENT -->
        <div class="grid-item"><a href="https://developer-lessons-react.vercel.app/">Developer Lessons Log</a></div>
        <div class="grid-item">React, Local Storage</div>
        <div class="grid-item">Vercel</div>
        <div class="grid-item">?</div>



        <!-- DEPLOYMENT -->
        <div class="grid-item"><a href="https://jamesdiffeycoding.github.io/Animated-Wallpaper-StudioGhibli/">Animated Studio Ghibli Wallpaper</a></div>
        <div class="grid-item">HTML, CSS</div>
        <div class="grid-item">GH Pages</div>
        <div class="grid-item">?</div>

        <!-- DEPLOYMENT -->
        <div class="grid-item"><a href="https://rubyonrails-pokedex.onrender.com/pokemonsters">Ruby on Rails Pokedex</a></div>
        <div class="grid-item">Ruby On Rails, HTML, CSS</div>
        <div class="grid-item">Render</div>
        <div class="grid-item">?</div>



        <!-- DEPLOYMENT -->
        <div class="grid-item"><a href="https://awesun-solar-visualiser.vercel.app/">Awesun Solar Visualiser</a></div>
        <div class="grid-item">Public APIs, Next JS, React</div>
        <div class="grid-item">Vercel</div>
        <div class="grid-item">?</div>

        <!-- DEPLOYMENT -->
        <div class="grid-item"><a href="https://django-learning-project.vercel.app/">Python / Django Learning App</a></div>
        <div class="grid-item">Python, Django</div>
        <div class="grid-item">Vercel</div>
        <div class="grid-item">?</div>



        <!-- DEPLOYMENT -->
        <div class="grid-item"><a href="https://secure-nextjs-homeless-shelter-database.vercel.app/">Secure Shelter Database</a></div>
        <div class="grid-item">Next JS, React, Supabase</div>
        <div class="grid-item">Vercel</div>
        <div class="grid-item">?</div>

        <!-- DEPLOYMENT -->
        <div class="grid-item"><a href="https://secure-nextjs-homeless-shelter-database.vercel.app/">Secure Shelter Database</a></div>
        <div class="grid-item">Next JS, React, Supabase</div>
        <div class="grid-item">Vercel</div>
        <div class="grid-item">?</div>



        <!-- DEPLOYMENT -->
        <div class="grid-item"><a href="https://secure-nextjs-homeless-shelter-database.vercel.app/">Secure Shelter Database</a></div>
        <div class="grid-item">Next JS, React, Supabase</div>
        <div class="grid-item">Vercel</div>
        <div class="grid-item">?</div>

        <!-- DEPLOYMENT -->
        <div class="grid-item"><a href="https://secure-nextjs-homeless-shelter-database.vercel.app/">Secure Shelter Database</a></div>
        <div class="grid-item">Next JS, React, Supabase</div>
        <div class="grid-item">Vercel</div>
        <div class="grid-item">?</div>




    </div>
    <hr>
    <ul>
    {% for quote, author in quotes %}
        <li>
            <blockquote>{{ quote }}</blockquote>
            <p>- {{ author }}</p>
        </li>
    {% endfor %}
    </ul>
</body>
</html>